# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
.expoenv/
.expo-env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/
*.whl

# IDE/editor files
.vscode/
.idea/
.DS_Store